body{
    margin: 0;
    padding: 0;
    background-color: #f3f6fa;
    font-family: 'Poppins', sans-serif;}
 
header{
    border: 2px solid rgba(37, 221, 227, 0.282);
    background-color: rgba(128, 128, 128, 0.374);
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items:center;
    padding: 20px 60px;
    margin-bottom: 100px;
}

nav a {
      margin: 0 10px;
      text-decoration: none;
      color: #000;
      font-weight: 500;
    }

nav a.active {
      border-bottom: 2px solid #4a6cf7;
      padding-bottom: 3px;
    }

header nav {
margin-left: 200px;


}
header nav ul{

list-style-type: none;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
}

header nav ul li{
padding: 8px;



}

h1{
    
    display:flex;
   

}

.container{
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 60px;
}

  .text-content h2 {
      color: #4a6cf7;
      font-size: 20px;
    }

     .text-content h1 {
      font-size: 40px;
      margin: 10px 0;
    }

    .text-content p {
      color: #6c757d;
    }

    .btn{
        display: inline-block;
        color: white;
        background-color: #4a6cf7;
        border-radius: 25px;
       padding: 10px 20px;
       margin-top: 20px;
       text-decoration: none;


    }

      .image-content img {
        margin-right: 200px;
      max-width: 800px;
      height: 200px;
    }